body{

    background-image:url(fundo.JPG.jpg);
    background-attachment:fixed;
    background-size:100%;
    background-repeat::no-repeat:;
    background-color:#000;
    width: 90%;
    max-width: 800px;
    margin: auto;
    
    font-family: 'Indie Flower', cursive;
    line-height: 1.5;
}

main{
    background: #0000004f;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
}

.titulo, .ini{
    margin: 0;
    text-align: center;
}

.1img{
    width: 100px;
    height: 190px;
}